<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Employee Register</span>
      <a mat-button routerLink="/employees" href="">Employees</a>
      <a mat-button routerLink="/employees/list-detail" href="">List->Detail</a>
      <a mat-button routerLink="/clicks" href="">Click</a>
      <a mat-button routerLink="/clicks/stateful" href="">Stateful-Click</a>
      <span class="navigation-spacer"></span>
      <a href="#">login</a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
<footer>
  Footy
</footer>
