<div class="center">
  <h1>Stateful Click Counter</h1>
  <mat-button-toggle-group (change)="onToggleChange($event)" name="counting-method" aria-label="Choose counting method">
    <mat-button-toggle checked [value]="countingMethod.SCREEN">Screen</mat-button-toggle>
    <mat-button-toggle [value]="countingMethod.SEMISCREEN">Semiscreen</mat-button-toggle>
    <mat-button-toggle [value]="countingMethod.LEFT_RIGHT">Left/Right</mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-button color="warn" (click)="onReset($event)">Reset</button>
  <ng-container *ngIf="counter$ | async as counter; else noclicks">
    <h1 class="counter">{{ counter }}</h1>
  </ng-container>
  <ng-template #noclicks>
    <h1 class="counter">No clicks yet</h1>
  </ng-template>
  <div #hitbox class="hitbox center">
    <span>Hit me</span>
  </div>
</div>

